# Ignorar credenciales de Firebase
firebase_credentials.json
firebase_credentials.json
*.json
!appsettings.json
!appsettings.Development.json

# Ignorar carpetas de compilaci n
bin/
obj/
.vs/
.vscode/

# Ignorar archivos de usuario
*.user
*.suo

#mds
instruccion.md
GEMINI.md
GEMINI_AYER.md
logs.md
logs